Criando um Banco de Dados SQLite

In [1]:
# Versao da Linguagem Python
from platform import python_version
print('Versao da Linguagem Python Usada Neste Jupyter Notebook: ', python_version())

Versao da Linguagem Python Usada Neste Jupyter Notebook:  3.9.13

In [2]:
# Acessando Banco de Dados com Python 

# Remove o arquivo com o banco de dados SQLite (Caso Exista)

import os 
os.remove("escola.db") if os.path.exists("escola.db") else None

In [3]:
# Importando o modulo de acesso ao SQLite

import sqlite3

In [4]:
# Cria uma conexao com o banco de dados.
# Se o banco de dados nao existir, ele e criado neste momento.

con = sqlite3.connect('escola.db')

In [5]:
type(con)

sqlite3.Connection

In [6]:
# Criando um cursor 

cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [8]:
# Criando uma instrucao SQL 

sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [9]:
# Executando a instrucao sql no cursor 

cur.execute(sql_create)

In [10]:
# Criando outra Sentenca SQL para inserir registros

sql_insert = 'insert into cursos values (?, ?, ?)'

In [11]:
# Dados 

recset = [(1000, 'Ciencia de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Analise de Dados')]

In [12]:
# Inserindo os registros

for rec in recset:
    cur.execute(sql_insert, rec)

In [13]:
# Grava a transacao

con.commit()

In [14]:
# Criando outra Sentenca SQL para Selecionar Registros

sql_select = 'select * from cursos'

In [15]:
# Seleciona todos os Registros e Recupera os Registros

cur.execute(sql_select)
dados = cur.fetchall()

In [16]:
# Mostra 

for linha in dados: 
    print ('Curso Id: %d, Titulo: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Titulo: Ciencia de Dados, Categoria: Data Science

Curso Id: 1001, Titulo: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Titulo: Python Fundamentos, Categoria: Analise de Dados

In [17]:
# Gerando outros Registros

recset = [(1003, 'Gestao de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Analise de Dados')]

# Inserindo os Registros 

for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravacao da Transacao

con.commit()

In [18]:
# Seleciona todos os Registros

cur.execute('select * from cursos')

# Recupera os Resultados

recset = cur.fetchall()

# Mostra

for rec in recset:
    print('Curso Id: %d, Titulo: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Titulo: Ciencia de Dados, Categoria: Data Science

Curso Id: 1001, Titulo: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Titulo: Python Fundamentos, Categoria: Analise de Dados

Curso Id: 1003, Titulo: Gestao de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Titulo: R Fundamentos, Categoria: Analise de Dados

In [19]:
# Fecha a Conexao
con.close()